/* 界面高度 */
.basic{
    height: 100%;
}

/* 界面布局 */
.basic-interface{
    width: 1000px;
    height: 650px;
}

/* 头部 */
.basic-header{
    width: 100%;
    height: 50px;
    background: #EAF8FB;
}

/* 标题文字样式及定位 */
.basic-header span {
    color: #0bB2E6;
    font-size: 16px;
    line-height: 50px;
    margin-left: 20px;
}

/* 内容框 */
.target{
    width: 1000px;
    height: 40px;
    margin-top: 20px;
    position: absolute;
}

/* 目标内容 */
.target-content{
    width: 300px;
    height: 40px;
    margin-left: 200px;
    position: absolute;
}

/* 目标内容标题 */
.target-content span{
    font-size: 16px;
    line-height: 40px;
    position: absolute;
}

/* 下拉框 */
.drop-down{
    width: 240px;
}

.select{
    width: 200px;
    height: 30px;
}

.layui-input-block{
    margin-left: 80px;
}

/* 能力指标 */
.capability-indicator{
    width: 300px;
    height: 40px;
    margin-left: 500px;
}

/* 能力指标标题 */
.capability-indicator span{
    font-size: 16px;
    line-height: 40px;
    position: absolute;
}

/* 掌握程度框架 */
.mastery{
    width: 1000px;
    height: 40px;
    margin-top: 80px;
    position: absolute;
}

/* 掌握程度 */
.mastery-description{
    width: 550px;
    height: 40px;
    margin-left: 200px;
}

.mastery-description span{
    font-size: 16px;
    line-height: 40px;
    position: absolute;
}

/* 多选框 */
.checkbox{
    width: 480px;
    height: 40px;
    margin-left: 60px;
    position: absolute;
}

.check-input{
    width: 70px;
    height: 40px;
    position: absolute;
}

.check-input2{
    margin-left: 100px;
    position: absolute;
}

.check-input3{
    margin-left: 200px;
    position: absolute;
}

.check-input4{
    margin-left: 300px;
    position: absolute;
}

/* 能力具体描述框架 */
.specific{
    width: 1000px;
    height: 400px;
    margin-top: 140px;
    position: absolute;
}

/* 能力具体描述 */
.specific-description{
    width: 710px;
    height: 100%;
    margin-left: 100px;
}

/* 能力具体描述标题框架 */
.specific-line{
    width: 700px;
    height: 40px;
}

/* 能力具体描述标题 */
.specific-line span{
    font-size: 16px;
    line-height: 40px;
    margin-left: 340px;
}

.editor{
   width: 800px;
}

/* 提交按钮 */
.btn{
    width: 1000px;
    height: 40px;
    margin-top: 540px;
}

.btn a{
    width: 100px;
    margin-left: 430px;
}